.chartHeading {
  text-align: center;
  margin-top: 3rem;
}

.accountTableHeading {
  padding: 0px;
  text-align: end;
}

.acountTableValue {
  padding: 0px;
}

section {
  margin-bottom: 3rem;
}

.gradeSelect {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
