.chartHeading {
  text-align: center;
  margin-top: 3rem;
}

.accountTableHeading {
  padding: 0px;
  text-align: end;
}

.accountTableValue {
  padding: 0px;
}

section {
  margin-bottom: 3rem;
}

.gradeSelect {
  font-size: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.chartSelector {
  width: auto;
  padding-left: 2rem;
}

@media screen and (max-width: 980px) {
  .accountTableHeading {
    width: auto;
    text-align: left;
  }
  .accountTableValue {
    width: auto;
    text-align: left;
    padding-left: 1rem;
  }
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 1rem;
  }
  .gradeSelect {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
