.commentary {
  font-style: italic;
  font-size: 1.5rem;
}

article > ul,
p {
  font-size: 1.2rem;
}

section {
  margin-bottom: 3rem;
}

.row {
  margin-left: 0px;
}

.btn-link {
  color: black;
  text-decoration: none;
}

.btn-link:visited,
.btn-link:active,
.btn-link:focus,
.btn-link:hover {
  text-decoration: none;
}

@media screen and (max-width: 980px) {
  article > ul,
  li {
    font-size: 0.85rem;
  }

  .commentary,
  .collapse {
    display: none;
  }

  .chartData {
    height: 20rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .m-5 {
    margin: 0.5rem !important;
  }

  .footnote > p {
    font-size: 0.5rem;
  }
}
