h1 {
  color: #7971ea;
}

.jumbotron,
.jumbotron-fluid {
  background-color: #393e46;
  height: 17rem;
  margin-bottom: 0px;
}

.lead {
  color: #eeeeee;
  font-size: 2rem;
}

@media screen and (max-width: 1024px) {
  .display-1 {
    font-size: 3rem;
    text-align: center;
  }

  .lead {
    display: none;
  }

  .jumbotron,
  .jumbotron-fluid {
    height: 10rem;
  }
}
