.dashboard {
  margin-top: 3rem;
  margin-left: 5rem;
  text-align: center;
}

.metricBox,
.dashboardGraph {
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.dashboardGraph {
  height: 10rem;
  padding: 0px;
}

.highcharts-container {
  margin-right: 0px;
}

.highcharts-background {
  fill: #eeeeee;
}

@media screen and (max-width: 980px) {
  .dashboardGraph {
    display: none;
  }
}
