.commentary {
  font-style: italic;
}

article > ul,
p {
  font-size: 1.2rem;
}

section {
  margin-bottom: 3rem;
}

.row {
  margin-left: 0px;
}
.benchmarkMenu {
  display: inline-block;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.375rem 0.75rem;
  vertical-align: bottom;
}

.form-check-input,
.form-check-label {
  padding: 0.375rem 0rem;
}
